.header,
.footer {
  h1 {
    font-size: clamp(2.4rem, 10vw, 4rem);
    margin: 0;
  }

  span {
    font-size: 1.5rem;
  }

  img {
    margin-top: 0.5em;
    max-width: 250px;
    vertical-align: bottom;
  }
}

.footer {
  margin-top: auto;
}
