@import '../variables';

// https://css-loaders.com/classic/
.loader {
  padding: 1em;
  width: fit-content;
  color: $white;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loader:before {
  color: $white;
  content: 'Searching...';
}
@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

.movie_list {
  min-height: 600px;
  margin: 1em;
  padding: 1em;
  color: $white;

  .movie_list_search {
    margin: auto;
    width: 40vw;

    .search_button {
      font-size: 1.1em;
      background-color: $light-blue;
      color: white;
      border: none;
    }

    .search_button:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }

  .movie_flex {
    display: flex;
    flex-direction: row;
    height: 500px;
    margin-top: 3em;
    padding: 1em;
    gap: 2em;
    border-left: 5px solid $white;
    border-right: 5px solid $white;
    border-radius: 2em;

    .movie_flex_card {
      flex: 1 1 0;
      background-color: $white;
      color: black;
      overflow: hidden;
    }

    .movie_flex_card:hover {
      cursor: pointer;
      background-color: $green;
      color: black;
    }

    .movie_flex_info {
      margin: auto;
      text-align: left;
      span {
        font-size: 2.5em;
      }
    }
  }

  .movie_list_nav {
    margin-top: 2em;
    justify-content: center;

    span {
      background-color: $light-blue;
      color: white;
      border-color: black;
    }

    a {
      background-color: $white;
      color: black;
      border-color: black;
    }
  }
}
