@import '../variables';

.movie_list {
  min-height: 600px;
  margin: 2em;
  padding: 1em;

  .search_button {
    font-size: 1.1em;
    background-color: black;
    color: white;
    border: none;
  }

  .search_button:hover {
    background-color: $light-blue;
    color: white;
    border: none;
  }

  .movie_grid {
    display: grid;
    margin-top: 3em;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 2em;

    .movie_grid_card:hover {
      cursor: pointer;
      background-color: black;
      color: white;
    }
  }
}
