// Global color variables
$dark-blue: #0d253f;
$light-blue: #01b4e4;
$green: #90cea1;
$white: #e0d8de;
$result-green: #5ed033;
$result-red: #f83d58;

// General styles
$border-radius: 0.8em;

// Breakpoints
$mobile-small: 320px;
$mobile-large: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-large: 1440px;

// Global button style
@mixin button {
  background-color: $light-blue;
  color: $dark-blue;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin: 0.5em;
  cursor: pointer;
  font-size: 1.1em;

  &:hover {
    background-color: $white;
  }

  &:active {
    background-color: $white;
    color: $dark-blue;
  }
}
