@import '../variables';

// https://css-loaders.com/classic/
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  font-family: monospace;
  font-size: 3em;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}

.loader:before {
  content: 'Creating a quiz...';
}

@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

.movie_quiz {
  margin: 3em 1em;
  padding: 1em;

  .movie_quiz_questions {
    position: relative;

    .image1,
    .image2,
    .image3 {
      border: 2px solid $white;
      border-radius: $border-radius;
      position: absolute;
    }

    .image1 {
      left: 20px;
      top: -20px;
    }

    .image2 {
      left: -50px;
      top: 50px;
    }

    .image3 {
      right: -50px;
      bottom: 30px;
    }

    h2 {
      margin: auto;
      width: 50%;
    }

    h3 {
      margin: 0.8em;
      font-weight: 100;
    }

    button {
      @include button;
    }

    .questions_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 2.5em;
      gap: 1em;

      .question_item {
        padding: 1em;
        border: 2px solid $white;
        border-radius: $border-radius;
      }

      .active {
        background-color: $white;
        color: $dark-blue;
      }

      .question_item:hover {
        cursor: pointer;
        background-color: $white;
        color: $dark-blue;
      }
    }
  }

  .pagination {
    margin: 1em;
    justify-content: center;

    span {
      background-color: $light-blue;
      color: $white;
      border-color: $dark-blue;
    }

    a {
      background-color: $white;
      color: $dark-blue;
      border-color: $dark-blue;
    }
  }

  .movie_quiz_results {
    margin: auto;

    button {
      @include button;
    }

    span {
      display: block;
      margin: 0.5em;
    }

    .quiz_results_grid {
      margin: 1em;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;

      .card {
        background-color: $white;
        border: none;

        .card_header {
          background-color: $white;
          color: $dark-blue;
          font-size: 1.2em;
          font-weight: 400;
        }

        .card_body {
          display: grid;
          grid-template-columns: 1fr 1fr;

          .card_body_answer {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0.5em;
            border: 2px solid $dark-blue;
            border-radius: $border-radius;

            span {
              display: inline;
              font-size: 1em;
              margin-left: 0.5em;
            }

            i {
              display: inline;
              font-size: 1.5em;
            }
          }

          .correct_selected {
            border: 2px solid $result-green;
            background-color: $result-green;
            color: $white;
          }

          .correct {
            border: 2px solid $result-green;
            background-color: $result-green;
            color: $white;
          }

          .wrong {
            border: 2px solid $result-red;
            background-color: $result-red;
            color: $white;
          }
        }
      }
    }
  }
}
